html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* using rem unit */
html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1;
}

.text {
    color: #FF1493;
    font-size: 20px;
    display: block;
    display: block;
    margin: 150px auto;
    width: max-content;
}

.tooltip {
    position: relative;
}

.tooltip-text {
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%, -110%);
    background-color: #00FA9A;
    border-radius: 30px;
    padding: 10px 20px;
    display: block;
}
.tooltip-text:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    transform: translate(-50%, 100%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #3d6ef7;
  }